<a href="https://colab.research.google.com/github/KatzVera/PythonSeminars/blob/main/Seminar9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sample_data/california_housing_train.csv') # скачать файл

In [7]:
df.tail(10) #вывод строк с конца. head - вывод строк с начана

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [8]:
df.shape # размер таблицы

(17000, 9)

In [9]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,False,False,False,False,False,False
16996,False,False,False,False,False,False,False,False,False
16997,False,False,False,False,False,False,False,False,False
16998,False,False,False,False,False,False,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [13]:
df.isnull().sum() # подсчет нулевых значений по столбцам

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [14]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [15]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [17]:
tb = df['total_bedrooms'] # присвоение переменной столбцу

In [19]:
tb.sum()

9169984.0

In [20]:
df[['latitude', 'longitude']] # срез по 2м столбцам

       latitude  longitude
0         34.19    -114.31
1         34.40    -114.47
2         33.69    -114.56
3         33.64    -114.57
4         33.57    -114.57
...         ...        ...
16995     40.58    -124.26
16996     40.69    -124.27
16997     41.84    -124.30
16998     41.80    -124.30
16999     40.54    -124.35

[17000 rows x 2 columns]

In [28]:
new = df[(df['housing_median_age'] < 20) & (df['total_rooms'] < 30)] # фильтр по столбцам и условиям

In [29]:
new

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2907,-117.76,35.22,4.0,18.0,3.0,8.0,6.0,1.625,275000.0
2990,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.375,137500.0
3275,-117.86,33.67,16.0,20.0,5.0,15.0,5.0,3.875,450000.0
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.536,350000.0

In [30]:
new.shape

(4, 9)

In [31]:
new['population'].min() # в новой таблице минимум по столбцу

3.0

In [32]:
new['population'].mean() # mean - поиск среднего значения

8.0

In [34]:
new['population'].sum()

32.0

In [36]:
df[(df['median_income'] < 2)]['median_house_value']

0        66900.0
1        80100.0
2        85700.0
4        65500.0
7        48500.0
          ...
16984    70000.0
16989    58100.0
16990    78300.0
16994    76100.0
16998    85800.0
Name: median_house_value, Length: 2005, dtype: float64

In [38]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0

In [42]:
df[(df['median_income'] == 3.1250)]['median_house_value'].max()

380400.0

In [45]:
minimum = df['median_house_value'].min() # нашли минимум по столбцу и запомнили в переменную

In [48]:
df[(df['median_house_value'] == minimum)]['population'].max() # нашли все значения с этим минимумом и по нему сдулали отбор по стобцу

628.0